body {
  position: relative;
  text-align: center;
  margin-top: 0;
  background-color: #333;
  color: #eee;
  white-space: nowrap;
  font-family: "Open Sans", sans-serif;
  outline: none;
  user-select: none;
}
